<div style="margin-bottom: 2em;">
  <p>
    <%= t("decidim.ine.authorizations.new.message_1") %>
  </p>
  <ul>
    <li><%= t("decidim.ine.authorizations.new.message_2") %></li>
    <li><%= t("decidim.ine.authorizations.new.message_3") %></li>
</li>
  </ul>
</div>

<%= form_required_explanation %>

<div class="card-section">

  <div class="field">
    <%= form.text_field :street, label: t(".street") %>
  </div>

  <div class="field">
    <%= form.text_field :street_number, label: t(".street_number") %>
  </div>

  <div class="field">
    <%= form.text_field :postal_code, label: t(".postal_code") %>
  </div>

  <div class="field">
    <%= form.select :neighbourhood_code, @form.neighbourhoods_for_select, prompt: true, label: t(".neighbourhood") %>
  </div>

  <div class="field">
    <%= form.text_field :curp, label: t(".curp") %>
  </div>

  <div class="field">
    <%= form.upload :verification_attachment, label: t(".verification_attachment") %>
  </div>

</div>
