<h2><%= t(".title") %></h2>
<p><%= t(".copy_p") %></p>
<ul>
  <li><%= t(".copy_ul_1") %></li>
  <li><%= t(".copy_ul_2") %></li>
  <li><%= t(".copy_ul_3") %></li>
</ul>
<p>
  <a href="http://<%= @organization.host %>/ine/authorizations/edit"><%= t(".copy_cta") %></a>
</p>
